body {
    margin: 0;
    padding: 0;
    height: 50vh;
    background: rgb(255, 255, 255);}

table{border-collapse: collapse;}

.classe{text-decoration:solid; color: rgba(0, 0, 0, 0.829);
    margin: 15x;
    padding: 5px 15px;
    border-radius: 36px;
    background-color:rgb(233, 247, 210);
    margin: 5%;}

.classe:hover{cursor: pointer;
border: 1px outset rgb(53, 167, 49);}
.tr{background-color: rgb(178, 231, 157);}

h1 {text-align: center;}

thead{background-color: rgb(21, 190, 35); color: rgb(255, 255, 255);}

thead th {color: white;
padding: 10px;
text-align: center;}

td,th{border: 1px solid #ddd;
padding: 8px;}

td, th { border: none; }

.table{background-color:white;margin-left: 30%;}

tbody tr:nth-child(even) 
{background-color: #f2f2f2;}

td,th{text-align: center;}

tbody tr:hover {background-color: #ddd; cursor: pointer;}